
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
__pycache__/
ProjectWingman/
venv/
*.uexp
*.pak
/compat-balanced-wingman.dtp
*.json
*.dtp
!PWrando/PW-Randomizer_default_P.pak
/PWrando/runRando Test.bat
PWRandoRelease/
*.png
*.webp
*.psd
old/

PWRando/dist
PWRando/Build
PWRandomizer 0.1/
PWRandomizer 0.2/
*.zip
*.spec
DWeaponDB_docs.txt
DB_Aircraft_docs.txt
PWrando/u4pak-master/unpak.bat
*.ini
*.uasset
*.ubulk
*.ufont
*.res
*.brk
*.dict
*.cfu
*.icu
*.nrm
*.locmeta
*.locres
*.tps
*.ttf
*.uplugin
*.bin
ProjectWingman1/Plugins/ProjectWingman.upluginmanifest
ProjectWingman1/ProjectWingman.uproject
PWrando/ProjectWingman1/ProjectWingman.uproject
PWrando/ProjectWingman1/Plugins/ProjectWingman.upluginmanifest
PWRandomizer 1.0/PWRandomizer.py
saves/Campaign1.sav
saves/MIG21 SOLD.sav
saves/NG Merc Campaign.sav
Utilities-master/AssetEditor.exe
Utilities-master/README.md
~mods - Shortcut.lnk
UAssetGUI/
