
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
__pycache__/
ProjectWingman/
venv/
*.uexp
*.pak
/compat-balanced-wingman.dtp
*.json
*.dtp
!PWrando/PW-Randomizer_default_P.pak
/PWrando/runRando Test.bat
PWRandoRelease/